<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

	<insert id="insert" parameterType="bbsVO">
		insert into bbs values(#{no},#{title},#{content},#{writer})
	</insert>
	<select id="selectOne" parameterType="String" resultType="bbsVO">
		select * from bbs where no = #{no}
	</select>
	
	<select id="selectList" resultType="bbsVO">
		select * from bbs
	</select>
	
	<update id="update" parameterType="bbsVO">
		update bbs set title = #{title} where no = #{no}
	</update>
	<delete id="delete"  parameterType="String">
		delete from bbs where no = #{no}
	</delete>

</mapper> 