<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
<!-- MySQL jdbc (드라이버이름,url,사용자이름,패스워드) -->
<bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	<property name="url" value="jdbc:mysql://127.0.0.1:3366/shop"></property>
	<property name="username" value="root"></property>
	<property name="password" value="1234"></property>
</bean>

<!-- sql객체관리 (파일주소,데이터소스dbcp) -->
<bean id="config" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	<property name="dataSource" ref="dbcp"></property>
</bean>

<!-- Mybatis (생성자로 설정파일 지정) -->
<bean id="mybatis" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg ref="config"></constructor-arg>
</bean>
		
</beans>
